@font-face {
    font-family: "Comfortaa";
    src: url("./fonts/Comfortaa-Bold.ttf");
}

@font-face {
    font-family: "Moon";
    src: url("./fonts/moon_get-Heavy.ttf");
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


/*5bc0eb fde74c 9bc53d c3423f 211a1e*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column; 
    background-color: #FDE74C;
}

.title {
    font-size: 3rem;
    font-family: "Comfortaa";
    color: #211A1E;
    padding: 5px;
    margin: 0;
}

.subtitle {
    font-size: medium;
    font-family: "Comfortaa";
    color: #211A1E;
    padding: 5px;
}

.link {
    font-size: large;
    font-family: "Comfortaa";
    color: #211A1E;
    padding: 10px;
}

.input {
    font-size: xx-large;
    font-family: "Comfortaa";
    background-color: white;
    margin: 5px;
    padding: 5;
    border: 3px solid #211A1E;
    border-radius: 10px;
    width: 30%;
}

#input1 {
    font-family: "Comfortaa";
}

#input2 {
    font-family: "Moon";
    font-size: xx-large;
}